<!doctype html>
<html lang="en">
  <head>
    <title>Form to plot stock closing price</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
           <form action="{{ url_for('index') }}" method="post">
             <p>
               <h2>Please enter the stock ticker symbol you wish to plot:</h2><input type='text' name='stock' />
             </p>
             <p>
               <input type='submit' value='Submit' />
            </p>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>

